body {
    background-color: #e5e7eb;
    overflow: hidden;
}
.container {
    display: flex;
}
.userInputs {
    width: 49%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    padding: 20px;
}

/* ALL INPUTS */
.inputs-container {
    width: 70%;
    background-color: whitesmoke;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
}

/* DETAILS INPUTS */
.details-fields-one-line, .expierence-fields-one-line {
    display: flex;
}
.details-input-group, .expierence-input-group {
    margin: 20px;
}
.details-input-group-right-item, .expierence-input-group-right-item {
    margin-left: 10px;
}

.input-added-expierance {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0px 2px 0px black;
}
.input-added-expierance-delete-container {
    display: flex;
    justify-content: flex-end;
}
.input-added-expierance-delete:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/* PREVIEW */

.section-title {
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.section-identifier {
    border-radius: 50%;
    margin-right: 15px;
}
.section-identifier-title {
    font-weight: bold;
}

.pdfPreview {
    min-width: 49%;
    max-height: 100vh;
    max-width: max-content;
    height:min-content;
    overflow: auto;
}

.preview-group {
    width: 85%;
    margin: 25px auto;
    margin-left: 40px;
}

/* DETAILS PREVIEW*/
.pdf-document {
    background-color: whitesmoke;
    border-top: 8px solid;
    transform-origin: top left;
    margin: 50px;
}
.details-name {
    font-size: 20pt;
    margin: 5px;
}

.details-objective {
    margin: 5px;
}

.details-contacts-container {
    margin-top: 12px;
    margin-left: 5px;
    display: flex;
    justify-content: space-evenly;
}

.details-contacts-with-icon {
    display: flex;
    align-items: center;
    width: 25%;
}

.details-contact {
    margin-left: 8px;
}

/* WORK EXPIERENCE */
.expierence-title-countainer {
    display: flex;
    align-items: center;
}
.expierence-title-icon {
    margin-right: 10px;
}
.expierence-title-input {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
}
.expierence-title-options {
    margin-left: 10px;
}
.add-new-job-btn {
    display: flex;
    justify-content: flex-end;
}
/* expierence block*/
.expierence-block {
    margin-top: 10px;
    line-height: 1.2rem;
}

.expierence-company {
    font-weight: bold;
}
.expierence-group {
    display: flex;
    justify-content: space-between;
}
.expierence-description {
    margin-top: 15px;
    text-align: justify;
    text-indent: 1rem;
    width: 90%;
}