body {
    background-color: #e5e7eb;
}
.container {
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
}
.userInputs, .pdfPreview {
    width: 49%;
    display: flex;
    align-items: center;
}

.userInputs {
    flex-direction: column;
    overflow-y: auto;
}

.pdfPreview {
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}