body {
    background-color: #e5e7eb;
}
.container {
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
}
.userInputs, .pdfPreview {
    width: 49%;
    display: flex;
    align-items: center;
}

.userInputs {
    flex-direction: column;
    overflow-y: auto;
    padding: 20px;
}

.pdfPreview {
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

/* ALL INPUTS */
.inputs-container {
    width: 60%;
    background-color: whitesmoke;
    margin: 20px;
    padding: 15px;
    border-radius: 5px;
}

/* DETAILS INPUTS */
.details-fields-one-line {
    display: flex;
}
.details-input-group {
    margin: 20px;
}
.details-input-group-right-item {
    margin-left: 10px;
}